{{page-title "Channels"}}

{{#page-options}}
  <label class="page-option-label" id="show-channel-state">Show:</label>
  {{#x-select class="form-control custom-select page-option-dropdown" id="show-channel-state" value=selectedState action=(action (mut selectedState)) as |xs|}}
    {{#xs.option value=""}}All{{/xs.option}}
    {{#each channelStates as |state|}}
      {{#xs.option value=state}}{{state}}{{/xs.option}}
    {{/each}}
  {{/x-select}}
{{/page-options}}

{{#data-table}}
  <thead>
    <tr>
      <th>Name</th>
      <th class="col-channel-state">State</th>
      <th class="col-options"></th>
    </tr>
  </thead>
  <tbody>
    {{#each filteredChannels as |channel|}}
      <tr>
        <td>{{channel.name}}</td>
        <td>
          {{channel-state state=channel.state}}
        </td>
        <td>
          {{#link-to "channels.details" channel.id class="btn btn-secondary btn-sm"}}
            {{fa-icon "search"}}
            View
          {{/link-to}}
        </td>
      </tr>
    {{/each}}
  </tbody>
{{/data-table}}
