<td>{{model.name}}</td>
<td>
  {{model.rawField.name}}
  {{#if showErrors}}
    {{error-icon message="The 'DOB' payload column no longer exists"}}
  {{/if}}
</td>
<td>
  {{model.rawInputMapping}}
  {{#if showCodesetWarning}}
    <button type="button" class="codeset-warning" data-toggle="tooltip" data-placement="top" title="This codeset has not been configured.">
      {{fa-icon "warning"}}
    </button>
  {{/if}}
</td>
<td>
  <div class="dropdown">
    <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
      {{fa-icon "cog"}}
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" href="#" {{action onRawEdit}}>Edit Payload Column Mapping</a>
      <a class="dropdown-item" href="#" {{action onValueEdit}}>Edit Value Mapping</a>
    </div>
  </div>
</td>
