{{#nrc-modal as |modal|}}
  {{#modal.header close=(action close)}}
    Raw Mapping - {{fieldType}}.{{model.name}}
  {{/modal.header}}
  {{#modal.body class=componentCssClassName}}
    <div class="form-group row">
      <label for="raw-input-field" class="col-sm-4 col-form-label">
        RAW Input Field
      </label>
      <div class="col-sm-8">
        {{#x-select class="form-control custom-select" id="raw-input-field" value=fieldMapping.rawField.id action=(action "rawFieldSelected") as |xs|}}
          {{#xs.option value=""}}Select...{{/xs.option}}
          {{#each sortedRawFields as |rawField|}}
            {{#xs.option value=rawField.id}}{{rawField.name}}{{/xs.option}}
          {{/each}}
        {{/x-select}}
      </div>
    </div>
  {{/modal.body}}
  {{#modal.footer class=(concat "no-flex " componentCssClassName)}}
    {{#unless promptForReset}}
      <div class="pull-left">
        <button type="button" class="btn btn-danger pull-left" {{action (mut promptForReset) true}}>
          Reset
        </button>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-secondary" {{action close}}>
          Cancel
        </button>
        <button type="submit" class="btn btn-primary" {{action "save"}}>
          Save
        </button>
      </div>
    {{else}}
      <div class="pull-right">
        <p class="reset-text">Are you sure you want to reset this mapping?</p>
        <button type="button" class="btn btn-secondary" {{action (mut promptForReset) false}}>
          No
        </button>
        <button type="submit" class="btn btn-primary" {{action "reset"}}>
          Yes
        </button>
      </div>
    {{/unless}}
  {{/modal.footer}}
{{/nrc-modal}}
