{{page-title "Channel Mapping"}}

{{#mapping-section title="ODS Patient Fields"}}
  {{#data-table}}
    <thead>
      <tr>
        <th>Patient Field</th>
        <th>RAW Input Field Mapping</th>
        <th class="col-options"></th>
      </tr>
    </thead>
    <tbody>
      {{#each model.patientFields as |field|}}
        <tr>
          <td>{{field.name}}</td>
          <td>{{field.rawInputMapping}}</td>
          <td>
            <div class="dropdown">
              <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown">
                {{fa-icon "cog"}}
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <a class="dropdown-item" href="#" {{action (mut patientFieldToBeEdited) field}}>
                  Edit Mapping
                </a>
              </div>
            </div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  {{/data-table}}
{{/mapping-section}}

{{#if patientFieldToBeEdited}}
  {{mapping-form
    model=patientFieldToBeEdited
    close=(action (mut patientFieldToBeEdited) null)
  }}
{{/if}}
