{{page-title "Channel Mapping"}}

<div class="page-options">
  <div class="pull-right">
    <p class="mapping-filter-label">Show:</p>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary {{allRecordsButtonClass}}" {{action (mut showAllRecords) true}}>
        All
      </button>
      <button type="button" class="btn btn-secondary {{mappedRecordsButtonClass}}" {{action (mut showAllRecords) false}}>
        Mapped
      </button>
    </div>
  </div>
</div>

{{#collapsible-panel as |p|}}
  {{#p.header}}
    Channel Settings
  {{/p.header}}
  {{#p.body}}
    Nothing to see here, move along :)
  {{/p.body}}
{{/collapsible-panel}}

{{#collapsible-panel as |p|}}
  {{#p.header}}
    Input File Headers
  {{/p.header}}
  {{#p.body}}
    {{!--
      Show table with "Column Number" and "Name".
    --}}
    Nothing to see here, move along :)
  {{/p.body}}
{{/collapsible-panel}}

{{#collapsible-panel as |p|}}
  {{#p.header}}
    Codesets
  {{/p.header}}
  {{#p.body}}
    Nothing to see here, move along :)
  {{/p.body}}
{{/collapsible-panel}}

{{#collapsible-panel as |p|}}
  {{#p.header}}
    Business Key Mappings
  {{/p.header}}
  {{#p.body}}
    Nothing to see here, move along :)
  {{/p.body}}
{{/collapsible-panel}}

{{#collapsible-panel as |p|}}
  {{#p.header}}
    Raw Column Mappings
  {{/p.header}}
  {{#p.body}}
    {{!--
      Show 'View RAW File Format' button that will show a modal with the
      RAW colunn names and the ordianal position in the file.
    --}}
    {{!--
      When starting a new channel, don't show these tables. Instead, show a button
      that says "Upload RAW headers" that will then take the columns and then
      show the tables.
    --}}
    {{#mapping-section title="Patient Fields"}}
      {{#data-table}}
        <thead>
          <tr>
            <th>Patient Field</th>
            <th>RAW Field</th>
            <th class="col-options"></th>
          </tr>
        </thead>
        <tbody>
          {{#each filteredPatientRawFields as |field|}}
            {{mapping-raw-record
              model=field
              onEdit=(action (mut rawFieldToBeEdited) field)
            }}
          {{else}}
            <tr>
              <td colspan="3">
                <p class="no-records">No patient fields have been mapped.</p>
              </td>
            </tr>
          {{/each}}
        </tbody>
      {{/data-table}}
    {{/mapping-section}}

    {{#mapping-section title="Encounter Fields"}}
      {{#data-table}}
        <thead>
          <tr>
            <th>Encounter Field</th>
            <th>RAW Field</th>
            <th class="col-options"></th>
          </tr>
        </thead>
        <tbody>
          {{#each filteredEncounterRawFields as |field|}}
            {{mapping-record
              model=field
              onEdit=(action (mut rawFieldToBeEdited) field)
            }}
          {{else}}
            <tr>
              <td colspan="3">
                <p class="no-records">No encounter fields have been mapped.</p>
              </td>
            </tr>
          {{/each}}
        </tbody>
      {{/data-table}}
    {{/mapping-section}}

    {{#if rawFieldToBeEdited}}
      {{mapping-raw-form
        model=rawFieldToBeEdited
        close=(action (mut rawFieldToBeEdited) null)
      }}
    {{/if}}
  {{/p.body}}
{{/collapsible-panel}}

{{#collapsible-panel as |p|}}
  {{#p.header}}
    Channel Mappings
  {{/p.header}}
  {{#p.body}}
    {{#mapping-section title="ODS Patient Fields"}}
      {{#data-table}}
        <thead>
          <tr>
            <th>Patient Field</th>
            <th>Mapping</th>
            <th class="col-options"></th>
          </tr>
        </thead>
        <tbody>
          {{#each filteredPatientFields as |field|}}
            {{mapping-record
              model=field
              onEdit=(action (mut fieldToBeEdited) field)
            }}
          {{else}}
            <tr>
              <td colspan="3">
                <p class="no-records">No patient fields have been mapped.</p>
              </td>
            </tr>
          {{/each}}
        </tbody>
      {{/data-table}}
    {{/mapping-section}}

    {{#mapping-section title="ODS Encounter Fields"}}
      {{#data-table}}
        <thead>
          <tr>
            <th>Encounter Field</th>
            <th>Mapping</th>
            <th class="col-options"></th>
          </tr>
        </thead>
        <tbody>
          {{#each filteredEncounterFields as |field|}}
            {{mapping-record
              model=field
              onEdit=(action (mut fieldToBeEdited) field)
            }}
          {{else}}
            <tr>
              <td colspan="3">
                <p class="no-records">No encounter fields have been mapped.</p>
              </td>
            </tr>
          {{/each}}
        </tbody>
      {{/data-table}}
    {{/mapping-section}}

    {{#mapping-section title="Qualisys Mappings"}}
      {{#data-table}}
        <thead>
          <tr>
            <th>Mapping</th>
            <th class="col-options"></th>
          </tr>
        </thead>
        <tbody>
          {{#each sortedQualisysMappings as |mapping|}}
            <tr>
              <td>
                {{mapping.mappingType}}
                {{#if mapping.value}}
                  ({{mapping.value}})
                {{/if}}
              </td>
              <td>
                {{#if mapping.value}}
                  <button type="button" class="btn btn-secondary btn-sm" {{action (mut qualisysMappingToBeEdited) mapping}}>
                    {{fa-icon "pencil"}}
                    Edit
                  </button>
                {{else}}
                  <button type="button" class="btn btn-danger btn-sm" {{action "removeQualisysMapping" mapping}}>
                    {{fa-icon "trash"}}
                    Remove
                  </button>
                {{/if}}
              </td>
            </tr>
          {{else}}
            <tr>
              <td colspan="3">
                <p class="no-records">There are no Qualisys mappings.</p>
              </td>
            </tr>
          {{/each}}
        </tbody>
        <tfoot class="table-actions">
          <tr>
            <td colspan="2">
              <div class="pull-right">
                <button type="button" class="btn btn-secondary btn-sm" {{action "addQualisysMapping"}}>
                  {{fa-icon "plus"}}
                  Add Mapping
                </button>
              </div>
            </td>
          </tr>
        </tfoot>
      {{/data-table}}
    {{/mapping-section}}

    {{#if fieldToBeEdited}}
      {{mapping-form
        model=fieldToBeEdited
        close=(action (mut fieldToBeEdited) null)
      }}
    {{/if}}

    {{#if qualisysMappingToBeEdited}}
      {{qualisys-form
        model=qualisysMappingToBeEdited
        existingMappings=filteredQualisysMappings
        close=(action (mut qualisysMappingToBeEdited) null)
      }}
    {{/if}}
  {{/p.body}}
{{/collapsible-panel}}
