{{#page-title}}
  {{model.name}}

  <button type="button" class="toggle-error-btn" {{action "toggleRawErrors"}}>
    {{channel-state state=model.state}}
  </button>
{{/page-title}}

{{#page-options as |p|}}
  {{#p.right}}
    <label class="page-option-label">Show Mappings:</label>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary {{allRecordsButtonClass}}" {{action (mut showAllRecords) true}}>
        All
      </button>
      <button type="button" class="btn btn-secondary {{mappedRecordsButtonClass}}" {{action (mut showAllRecords) false}}>
        Configured
      </button>
    </div>
  {{/p.right}}
{{/page-options}}

{{#collapsible-panel as |p|}}
  {{#p.header}}
    Channel Information
  {{/p.header}}
  {{#p.body}}
    Nothing to see here, move along :)
  {{/p.body}}
{{/collapsible-panel}}

{{#collapsible-panel as |p|}}
  {{#p.header}}
    Codesets
  {{/p.header}}
  {{#p.body}}
    Nothing to see here, move along :)
  {{/p.body}}
{{/collapsible-panel}}

{{#collapsible-panel as |p|}}
  {{#p.header}}
    Payload Column Headers
  {{/p.header}}
  {{#p.body}}
    {{raw-field-grid channel=model}}
  {{/p.body}}
{{/collapsible-panel}}

{{#collapsible-panel as |p|}}
  {{#p.header}}
    Business Key Mappings
    {{#if showErrors}}
      {{error-icon}}
    {{/if}}
  {{/p.header}}
  {{#p.body}}
    {{#data-table}}
      <thead>
        <tr>
          <th>Business Key</th>
          <th>Mapping</th>
          <th class="col-options"></th>
        </tr>
      </thead>
      <tbody>
        {{#each filteredBusinessKeys as |field|}}
          {{mapping-bk-record
            model=field
            onEdit=(action (mut businessKeyToBeEdited) field)
          }}
        {{else}}
          <tr>
            <td colspan="3">
              <p class="no-records">No business keys have been mapped.</p>
            </td>
          </tr>
        {{/each}}
      </tbody>
    {{/data-table}}

    {{#if businessKeyToBeEdited}}
      {{mapping-bk-form
        model=businessKeyToBeEdited
        close=(action (mut businessKeyToBeEdited) null)
      }}
    {{/if}}
  {{/p.body}}
{{/collapsible-panel}}

{{#collapsible-panel as |p|}}
  {{#p.header}}
    Channel Mappings
    {{#if showErrors}}
      {{error-icon}}
    {{/if}}
  {{/p.header}}
  {{#p.body}}
    {{#mapping-section title="Patient Fields"}}
      {{#data-table}}
        <thead>
          <tr>
            <th>Patient Field</th>
            <th>Payload Header</th>
            <th>Value Mapping</th>
            <th class="col-options"></th>
          </tr>
        </thead>
        <tbody>
          {{#each filteredPatientFields as |field|}}
            {{mapping-record
              model=field
              onRawEdit=(action (mut rawFieldToBeEdited) field)
              onValueEdit=(action (mut fieldToBeEdited) field)
            }}
          {{else}}
            <tr>
              <td colspan="3">
                <p class="no-records">No patient fields have been mapped.</p>
              </td>
            </tr>
          {{/each}}
        </tbody>
      {{/data-table}}
    {{/mapping-section}}

    {{#mapping-section title="Encounter Fields"}}
      {{#data-table}}
        <thead>
          <tr>
            <th>Encounter Field</th>
            <th>Payload Header</th>
            <th>Value Mapping</th>
            <th class="col-options"></th>
          </tr>
        </thead>
        <tbody>
          {{#each filteredEncounterFields as |field|}}
            {{mapping-record
              model=field
              onRawEdit=(action (mut rawFieldToBeEdited) field)
              onValueEdit=(action (mut fieldToBeEdited) field)
            }}
          {{else}}
            <tr>
              <td colspan="3">
                <p class="no-records">No encounter fields have been mapped.</p>
              </td>
            </tr>
          {{/each}}
        </tbody>
      {{/data-table}}
    {{/mapping-section}}

    {{#if rawFieldToBeEdited}}
      {{mapping-raw-form
        model=rawFieldToBeEdited
        close=(action (mut rawFieldToBeEdited) null)
      }}
    {{/if}}

    {{#if fieldToBeEdited}}
      {{mapping-form
        model=fieldToBeEdited
        close=(action (mut fieldToBeEdited) null)
      }}
    {{/if}}
  {{/p.body}}
{{/collapsible-panel}}
