{{#page-title}}
  {{model.name}}
  {{channel-state state=model.state}}
{{/page-title}}

{{#page-options}}
  <label class="page-option-label">Show Mappings:</label>
  <div class="btn-group">
    <button type="button" class="btn btn-secondary {{allRecordsButtonClass}}" {{action (mut showAllRecords) true}}>
      All
    </button>
    <button type="button" class="btn btn-secondary {{mappedRecordsButtonClass}}" {{action (mut showAllRecords) false}}>
      Configured
    </button>
  </div>
{{/page-options}}

{{#collapsible-panel as |p|}}
  {{#p.header}}
    Channel Settings
  {{/p.header}}
  {{#p.body}}
    Nothing to see here, move along :)
  {{/p.body}}
{{/collapsible-panel}}

{{#collapsible-panel as |p|}}
  {{#p.header}}
    Codesets
  {{/p.header}}
  {{#p.body}}
    Nothing to see here, move along :)
  {{/p.body}}
{{/collapsible-panel}}

{{#collapsible-panel as |p|}}
  {{#p.header}}
    Input File Headers
  {{/p.header}}
  {{#p.body}}
    {{raw-field-grid channel=model}}
  {{/p.body}}
{{/collapsible-panel}}

{{#collapsible-panel as |p|}}
  {{#p.header}}
    Business Key Mappings
  {{/p.header}}
  {{#p.body}}
    {{#data-table}}
      <thead>
        <tr>
          <th>Business Key</th>
          <th>Mapping</th>
          <th class="col-options"></th>
        </tr>
      </thead>
      <tbody>
        {{#each filteredBusinessKeys as |field|}}
          {{mapping-bk-record
            model=field
            onEdit=(action (mut businessKeyToBeEdited) field)
          }}
        {{else}}
          <tr>
            <td colspan="3">
              <p class="no-records">No business keys have been mapped.</p>
            </td>
          </tr>
        {{/each}}
      </tbody>
    {{/data-table}}

    {{#if businessKeyToBeEdited}}
      {{mapping-bk-form
        model=businessKeyToBeEdited
        close=(action (mut businessKeyToBeEdited) null)
      }}
    {{/if}}
  {{/p.body}}
{{/collapsible-panel}}

{{#collapsible-panel as |p|}}
  {{#p.header}}
    Raw Column Mappings
  {{/p.header}}
  {{#p.body}}
    {{#mapping-section title="Patient Fields"}}
      {{#data-table}}
        <thead>
          <tr>
            <th>Patient Field</th>
            <th>RAW Field</th>
            <th class="col-options"></th>
          </tr>
        </thead>
        <tbody>
          {{#each filteredPatientRawFields as |field|}}
            {{mapping-raw-record
              model=field
              onEdit=(action (mut rawFieldToBeEdited) field)
            }}
          {{else}}
            <tr>
              <td colspan="3">
                <p class="no-records">No patient fields have been mapped.</p>
              </td>
            </tr>
          {{/each}}
        </tbody>
      {{/data-table}}
    {{/mapping-section}}

    {{#mapping-section title="Encounter Fields"}}
      {{#data-table}}
        <thead>
          <tr>
            <th>Encounter Field</th>
            <th>RAW Field</th>
            <th class="col-options"></th>
          </tr>
        </thead>
        <tbody>
          {{#each filteredEncounterRawFields as |field|}}
            {{mapping-raw-record
              model=field
              onEdit=(action (mut rawFieldToBeEdited) field)
            }}
          {{else}}
            <tr>
              <td colspan="3">
                <p class="no-records">No encounter fields have been mapped.</p>
              </td>
            </tr>
          {{/each}}
        </tbody>
      {{/data-table}}
    {{/mapping-section}}

    {{#if rawFieldToBeEdited}}
      {{mapping-raw-form
        model=rawFieldToBeEdited
        close=(action (mut rawFieldToBeEdited) null)
      }}
    {{/if}}
  {{/p.body}}
{{/collapsible-panel}}

{{#collapsible-panel as |p|}}
  {{#p.header}}
    Channel Mappings
  {{/p.header}}
  {{#p.body}}
    {{#mapping-section title="ODS Patient Fields"}}
      {{#data-table}}
        <thead>
          <tr>
            <th>Patient Field</th>
            <th>Mapping</th>
            <th class="col-options"></th>
          </tr>
        </thead>
        <tbody>
          {{#each filteredPatientFields as |field|}}
            {{mapping-record
              model=field
              onEdit=(action (mut fieldToBeEdited) field)
            }}
          {{else}}
            <tr>
              <td colspan="3">
                <p class="no-records">No patient fields have been mapped.</p>
              </td>
            </tr>
          {{/each}}
        </tbody>
      {{/data-table}}
    {{/mapping-section}}

    {{#mapping-section title="ODS Encounter Fields"}}
      {{#data-table}}
        <thead>
          <tr>
            <th>Encounter Field</th>
            <th>Mapping</th>
            <th class="col-options"></th>
          </tr>
        </thead>
        <tbody>
          {{#each filteredEncounterFields as |field|}}
            {{mapping-record
              model=field
              onEdit=(action (mut fieldToBeEdited) field)
            }}
          {{else}}
            <tr>
              <td colspan="3">
                <p class="no-records">No encounter fields have been mapped.</p>
              </td>
            </tr>
          {{/each}}
        </tbody>
      {{/data-table}}
    {{/mapping-section}}

    {{#if fieldToBeEdited}}
      {{mapping-form
        model=fieldToBeEdited
        close=(action (mut fieldToBeEdited) null)
      }}
    {{/if}}
  {{/p.body}}
{{/collapsible-panel}}
