{{page-title "Channel Mapping"}}

<div class="page-options">
  <div class="pull-right">
    <p class="mapping-filter-label">Show:</p>
    <div class="btn-group">
      <button type="button" class="btn btn-secondary {{allRecordsButtonClass}}" {{action (mut showAllRecords) true}}>
        All
      </button>
      <button type="button" class="btn btn-secondary {{mappedRecordsButtonClass}}" {{action (mut showAllRecords) false}}>
        Mapped
      </button>
    </div>
  </div>
</div>

{{#mapping-section title="ODS Patient Fields"}}
  {{#data-table}}
    <thead>
      <tr>
        <th>Patient Field</th>
        <th>RAW Input Field Mapping</th>
        <th class="col-options"></th>
      </tr>
    </thead>
    <tbody>
      {{#each filteredPatientFields as |field|}}
        <tr>
          <td>{{field.name}}</td>
          <td>{{field.rawInputMapping}}</td>
          <td>
            <button type="button" class="btn btn-secondary btn-sm" {{action (mut fieldToBeEdited) field}}>
              {{fa-icon "pencil"}}
              Edit
            </button>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="3">
            <p class="no-records">No patient fields have been mapped.</p>
          </td>
        </tr>
      {{/each}}
    </tbody>
  {{/data-table}}
{{/mapping-section}}

{{#mapping-section title="ODS Encounter Fields"}}
  {{#data-table}}
    <thead>
      <tr>
        <th>Encounter Field</th>
        <th>RAW Input Field Mapping</th>
        <th class="col-options"></th>
      </tr>
    </thead>
    <tbody>
      {{#each filteredEncounterFields as |field|}}
        <tr>
          <td>{{field.name}}</td>
          <td>{{field.rawInputMapping}}</td>
          <td>
            <button type="button" class="btn btn-secondary btn-sm" {{action (mut fieldToBeEdited) field}}>
              {{fa-icon "pencil"}}
              Edit
            </button>
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="3">
            <p class="no-records">No encounter fields have been mapped.</p>
          </td>
        </tr>
      {{/each}}
    </tbody>
  {{/data-table}}
{{/mapping-section}}

{{#if fieldToBeEdited}}
  {{mapping-form
    model=fieldToBeEdited
    close=(action (mut fieldToBeEdited) null)
  }}
{{/if}}
