{{page-title "Channel Mapping"}}

{{#mapping-section title="ODS Patient Fields"}}
  {{#data-table}}
    <thead>
      <tr>
        <th>Patient Field</th>
        <th>RAW Input Field Mapping</th>
        <th class="col-options"></th>
      </tr>
    </thead>
    <tbody>
      {{#each model.patientFields as |field|}}
        <tr>
          <td>{{field.name}}</td>
          <td>{{field.rawInputMapping}}</td>
          <td>
            <button type="button" class="btn btn-secondary btn-sm" {{action (mut fieldToBeEdited) field}}>
              {{fa-icon "pencil"}}
              Edit
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  {{/data-table}}
{{/mapping-section}}

{{#mapping-section title="ODS Encounter Fields"}}
  {{#data-table}}
    <thead>
      <tr>
        <th>Encounter Field</th>
        <th>RAW Input Field Mapping</th>
        <th class="col-options"></th>
      </tr>
    </thead>
    <tbody>
      {{#each model.encounterFields as |field|}}
        <tr>
          <td>{{field.name}}</td>
          <td>{{field.rawInputMapping}}</td>
          <td>
            <button type="button" class="btn btn-secondary btn-sm" {{action (mut fieldToBeEdited) field}}>
              {{fa-icon "pencil"}}
              Edit
            </button>
          </td>
        </tr>
      {{/each}}
    </tbody>
  {{/data-table}}
{{/mapping-section}}

{{#if fieldToBeEdited}}
  {{mapping-form
    model=fieldToBeEdited
    close=(action (mut fieldToBeEdited) null)
  }}
{{/if}}
