{{#if rawFields}}
  {{#page-options as |p|}}
    {{#p.right}}
        <button type="button" class="btn btn-secondary">
          {{fa-icon "upload"}}
          Upload Payload Headers
        </button>
    {{/p.right}}
  {{/page-options}}

  {{#data-table}}
    <thead>
      <tr>
        <th>
          <a href="#" class="sortable-grid-header" {{action "sortGrid" "name"}}>
            Column Name
            {{#if showNameSort}}
              {{sort-direction direction=sortDirection}}
            {{/if}}
          </a>
        </th>
        <th class="col-raw-column-number">
          <a href="#" class="sortable-grid-header" {{action "sortGrid" "columnNumber"}}>
            Column Number
            {{#if showNumberSort}}
              {{sort-direction direction=sortDirection}}
            {{/if}}
          </a>
        </th>
        <th class="col-raw-status">
          <a href="#" class="sortable-grid-header" {{action "sortGrid" "status"}}>
            Status
            {{#if showStatusSort}}
              {{sort-direction direction=sortDirection}}
            {{/if}}
          </a>
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each sortedRawFields as |rawField|}}
        <tr>
          <td>{{rawField.name}}</td>
          <td>{{rawField.columnNumber}}</td>
          <td>{{rawField.status}}</td>
        </tr>
      {{/each}}
    </tbody>
  {{/data-table}}
{{else}}
  <div class="alert alert-warning">
    No payload headers have been uploaded.
  </div>

  <div class="form-group row">
    <label for="raw-header-delimiter" class="col-sm-4 col-form-label">
      Delimiter
    </label>
    <div class="col-sm-8">
      {{#x-select class="form-control custom-select" id="raw-header-delimiter" value=channel.rawFileDelimiter action=(action (mut channel.rawFileDelimiter)) as |xs|}}
        {{#each delimiters as |delimiter|}}
          {{#xs.option value=delimiter}}{{delimiter}}{{/xs.option}}
        {{/each}}
      {{/x-select}}
    </div>
  </div>

  <div class="form-group row">
    <label for="payload-file" class="col-sm-4 col-form-label">
      Payload File
    </label>
    <div class="col-sm-8">
      <input type="file" name="payload-file">
    </div>
  </div>

  <div class="form-group row">
    <div class=" offset-sm-4 col-sm-8">
      <button type="button" class="btn btn-secondary">
        {{fa-icon "upload"}}
        Upload Payload Headers
      </button>
    </div>
  </div>
{{/if}}
