<td>
  {{model.name}}
  {{#if showErrors}}
    {{error-icon message="The 'DOB' payload header no longer exists"}}
  {{/if}}
</td>
<td>
  {{model.mappingDisplay}}
</td>
<td>
  <button type="button" class="btn btn-secondary btn-sm" {{action onEdit}}>
    {{fa-icon "pencil"}}
    Edit
  </button>
</td>
